// Variables
$black-color: #474955;
$white-color: #fff;
$gray-color: #5A5C66;
$gray-color-2: #B2B7BF;
//$green-color: #32b483;
//$count-gray-color: #f5f5f5;
//$pink-color: #c656a0;
//$violet-color: #756fb3;
//$error-color: #e53e3e;
//$notification-color: #ed474a;
//$auth-black-color: #252525;
//$body-gray-color: #f1f1f1;
$background-shadow: 0px 4px 27px 0px #E6E7EAC7;

